.rectangle {
	width: 110px;
	height: 30px;
	background-color: rgb(13, 141, 18);
	text-align: center;
	line-height: 70px;
	font-size: 18px;
	border-radius: 6px;
}

.styled-text {
	color: white;
	font-family: "Gill Sans", sans-serif;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.5;
}
